
{% extends 'OTCoreBundle::layout.html.twig' %}


{% block body %}


<h1> Character's list of {{ app.user.username }}</h1>
	<ul>
{% for charac in listCharacs %}
	<li><a href="/charac/view/{{ charac.id }}" > {{ charac.name }}</a> created on {{ charac.date|date('d/m/Y') }} </li>
    {% else %}
    <li> No characters for this user.</li>
{% endfor %}
	</ul>

{% endblock body %}
