{% extends "OTUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<h1>Liste des Perso de {{ app.user.username }}</h1>
<ul>
		{% for perso in listePersos %}
		<li>{{ perso.nom }} ({{ perso.category }}) , crée le {{ perso.date }}</li>
		{% else %}
		<li> Aucun personnage trouvé. </li>
		{% endfor %}
</ul>

{% endblock fos_user_content %}
